
.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.main {
  flex-grow: 4;
}

button {
  padding: .5rem 1rem;
  align-self: start;
}

ul {
  align-self: start;
  list-style: none;
}
li {
  align-self: start;
}

h1 {
  font-size: 4rem;
  margin: 0;
}
.spaceItem {
  color: #113399;

}

.spaceDetails dt {
  font-weight: bold;
}

.spaceDetails dd {
  margin-left: 0;
}

.fa {
  align-self: flex-end;
  color: #113399;
}
